<div id = "gameDiv">

<h1>Random number game</h1>
<h3>Click the button to genertae a random number</h3>
<h4>If the number is greater than 100 you loose! else you win</h4>
<button type="button" id="Generate" onclick="GenerateRandom()">Generate Number</button>
<div id="results">

</div>
</div>
